.show-card {
    margin: 1rem 0;

    max-width: 100vw;

    &__description {
        margin: 1rem 0 !important;
    }

    &__image {
        max-width: 100%;
        margin: 1rem 0;
    }

    &__info-row {
        margin: 1rem 0 !important;
    }
}